// Import fonts
@font-face {
    font-family: 'circular';
    font-weight: 400;

    src: font-url('circular-medium.otf');
}

@font-face {
    font-family: 'circular book';
    font-weight: 300;

    src: font-url('circular-book.otf');
}

// Define fonts for body and headers
$body-font: 'circular';
$headers-font: 'circular';
$font-light: 'circular book';

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
