<div class="container">
  <h1>All chefs</h1>
  <ul>
    <% @chefs.each do |chef| %>
    <li><%= chef.name %> -id:<%= chef.id %></li>
    <% end %>
  </ul>
</div>


<form action="search">
  <input type="date" name="date">
  <input type="submit" value="Search">
</form>
