<div class="container">
  <div class="home-content">
    <div>
      <h1>When do you need a Chef?</h1>

      <form action="chefs/search">
        <input type="date" name="date" placeholder="when you need a chef?">
        <input type="submit" value="Search">
      </form>

      <a href="http://localhost:3000/chefs/search?date=<%= DateTime.now.strftime("%d-%m-%Y") %>" class="when-links">Today</a>

      <a href="http://localhost:3000/chefs/search?date=<%= (DateTime.now + 1).strftime("%d-%m-%Y") %>" class="when-links">Tomorrow</a>

      <a href="http://localhost:3000/chefs/search?date=2017-11-10" class="when-links">Next 7 days</a>
    </div>
  </div>
</div>
