<div class="container">
  <div class="home-content">
    <div>
      <h1>When do you need a Chef?</h1>

      <%= link_to 'Today', search_chefs_path(date: DateTime.now.strftime("%d-%m-%Y")), class: 'when-links' %>
      <%= link_to 'Tomorrow', search_chefs_path(date: (DateTime.now + 1.day).strftime("%d-%m-%Y")), class: 'when-links' %>

      <form action="chefs/search">
        <input type="date" name="date" placeholder="when you need a chef?" class="index-search-bar">
        <input type="submit" value="Search">
      </form>

    </div>
  </div>
</div>
