<h1>Search Results</h1>
<ul>
  <% @chefs.each do |chef| %>

  <li><%= chef.name %> <div onclick="document.getElementById('hiddenField').value = '<%= chef.name %>'">Add chef</div></li>
<% end %>
</ul>


<input id="hiddenField" value="">





  <li><%= chef.name %> <div onclick="myFunction(<% gfdfgg %>)">Add chef</div></li>
