<div class="results-container">
  <%= render 'shared/card' %>
  <div class="clear"></div>
</div>

<%= render 'shared/shortlist' %>

<script>
  const shortListBar = document.getElementById("shortlist");
  const selectBtns = document.querySelectorAll(".btn-select");
  const hiddenImput = document.getElementById("hidden-selected");
  const idArray = []
  // const list = document.getElementById("selected-chefs");

  const displaySelected = (imgPath, chefId) => {
    let item = `<div id="avatar${chefId}" class="shortlist-avatar"><img src =${imgPath} width="50">
    </div>`
    shortListBar.insertAdjacentHTML("beforeend", item);
  };
  const removeSelected = (id) => {
    let toDelete = document.getElementById(`avatar${id}`);
    toDelete.remove();
  }

  selectBtns.forEach((btn) => {
    btn.addEventListener('click', (event) => {
      let chefId = event.currentTarget.id;
      let chefImgSrc = event.target.parentElement.firstElementChild.src;
      let btnTarget = event.currentTarget;
      if (btnTarget.classList.contains("disabled")) {
        btnTarget.classList.remove("disabled");
        idArray.pop(btnTarget.id);
        btnTarget.innerHTML = "Remove from Shortlist";
        btnTarget.classList.add("btn-selected");
        removeSelected(chefId);
      }
      else {
        idArray.push(btnTarget.id);
        btnTarget.classList.add("disabled");
        btnTarget.innerHTML = "Add to Shortlist";
        btnTarget.classList.remove("btn-selected");
        displaySelected(chefImgSrc, chefId);
      }
      hiddenImput.value = idArray;
    });
  });

</script>



