<h1>Results</h1>
 <ul>

<% @chefs.each do |chef| %>
<div> <li> [<%= chef.id %>]<%= chef.name %> <div class="btn btn-primary btn-select" id="<%= chef.id %>">Select</div></li></div>
<% end %>
 </ul>

<form action="../requests/new">
  <input type="hidden" value="" name= "selected" id="hidden-selected">
  <button type="submit">Request</button>
</form>
<ul id="selected-chefs">
  Selected Chefs

</ul>


<script>
  const displaySelected = (chef_ids) => {
    const list = document.getElementById("selected-chefs");
    $("#selected-chefs > li").remove();
    chef_ids.forEach((chef_id) => {
      list.insertAdjacentHTML("beforeend", `<li>${chef_id}</li>`);
    });
  };
  const hiddenImput = document.getElementById("hidden-selected");
  console.log(hiddenImput);
  const idArray = []
  const selectBtns = document.querySelectorAll(".btn-select");
  selectBtns.forEach((btn) => {
    btn.addEventListener('click', (event) => {
      let btnTarget = event.currentTarget;
      if (btnTarget.classList.contains("disabled")) {
        btnTarget.classList.remove("disabled");
        idArray.pop(btnTarget.id);
        btnTarget.innerHtml = "Selected";
      }
      else {
        idArray.push(btnTarget.id);
        btnTarget.classList.add("disabled");
        btnTarget.innerHtml = "Select";
      }
      hiddenImput.value = idArray;
      displaySelected(idArray);
    });
  });

</script>
