<div class="shortlist-container">
  <p>Selected chefs</p>
  <div class="shortlist-avatars" id="shortlist">
  </div>
  <form action="../requests/new">
    <input type="hidden" value="" name= "selected" id="hidden-selected">
    <button type="submit" class="book-btn">Request</button>
  </form>
</div>
