<div class="profile-banner">
  <div class="profile-avatar">
    <img src="<%= @restaurant.photo %>">
  </div>
</div>

<div class="profile-name">
  <%= @restaurant.name %>
</div>

<div class="profile-headers">
  Availability
</div>

<div class="profile-days">
  <!-- Day begins -->
  <div class="day-container">
    <span>Mon 3rd</span>
    <div class="day">
      <div class="lunch"></div>
      <div class="dinner"></div>
    </div>
  </div>

  <!-- Day begins -->
  <div class="day-container">
    <span>Tue 4th</span>
    <div class="day">
      <div class="lunch"></div>
      <div class="dinner"></div>
    </div>
  </div>

  <!-- Day begins -->
  <div class="day-container">
    <span>Wed 5th</span>
    <div class="day">
      <div class="lunch"></div>
      <div class="dinner"></div>
    </div>
  </div>

  <!-- Day begins -->
  <div class="day-container">
    <span>Thu 6th</span>
    <div class="day">
      <div class="lunch"></div>
      <div class="dinner"></div>
    </div>
  </div>

  <!-- Day begins -->
  <div class="day-container">
    <span>Fri 7th</span>
    <div class="day">
      <div class="lunch"></div>
      <div class="dinner"></div>
    </div>
  </div>
</div>
