// Import your components CSS files here.
@import 'alert';
@import 'navbar';


*
{
    box-sizing: border-box;
    font-family: $body-font !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

body
{
    font-family: Montserrat;

    margin: 0;

    color: $content-color;
    background-color: $gray-base;
}

h1 {
  text-align: center
}

.form-control, .form-control:focus {
  border-width: 0 0 1px 0 !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: $gray-base !important;
  color: $content-color;
  border-radius: 0 !important;
}

.form-group label {
  font-size:12px;
}


.form-group abbr[title], abbr[data-original-title] {
  display:none;
}

.form-actions input{
    display: inline-block;

    width: 100%;
    height: 60px;

    text-align: center;
    font-size: 15px;
    color: #606019;
    border-width: 0;
    background-color: $brand-primary;
    margin:0;
    border-radius: 3px;
    outline:none;
}

.submit-holder {
  width: 100%;
  height: 90px;
  position:fixed;
  bottom:0;
  background-color: $gray-base;
}

.submit-btn {
    display: inline-block;

    width: calc(100% - 30px);
    height: 60px;

    text-align: center;
    font-size: 15px;
    color: #606019;
    border-width: 0;
    background-color: $brand-primary;
    margin:15px 15px 15px 0;
    border-radius: 3px;
    outline:none;
}

.form-control:focus {
  border-color: #989898;
}
a
{
    color: $content-color;
}

.container
{
    margin: 75px 0 90px 0;
}

.home-content {
  width: 100%;
  height:calc(100vh - 180px);
  text-align: center;
  div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}


.when-links, .when-links:active, .when-links:hover {
    display: inline-block;
    text-decoration: none;
    height: 40px;
    font-size: 16px;
  padding: 0 13px;
    text-align: center;
    line-height:38px;
    border-width: 0;
    border-radius: 0;
    background-color: $brand-secondary;
    margin:0 15px 0 0 0;
    color:#606019;
    border-radius: 3px;
}
