
/*model style*/

.model-cover {
  display: none;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position:absolute;
  left:0;
  z-index:99;
}

.create-model {
  width: 100%;
  height: calc(100% - 70px);
  position:absolute;
  background-color: $gray-base;
  top: 70px;
  left: 0;
  margin: 0;
  padding:15px;
  z-index: 99;
}

.model-close {
  position:absolute;
  top:85px;
  right:27px;
  cursor: pointer;
  i {
    color: #fff;
    font-size:30px;
    line-height:50px;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}


.model-submit-btn {
    display: block;
    position: absolute;
    bottom: 15px;
    left:15px;
    width: calc(100% - 30px);
    height: 44px;
    text-align: center;
    font-size: 15px;
    color: $primary-text;
    border-width: 0;
    background-color: $primary-action;
    border-radius: 3px;
    outline:none;
}

.model-cancel-btn {
    display: block;
    position: absolute;
    bottom: 74px;
    left:15px;
    width: calc(100% - 30px);
    height: 44px;
    text-align: center;
    font-size: 15px;
    line-height:44px;
    color: #989898;
    border-width: 1px;
    border-color: #ddd;
    border-style: solid;
    background-color: $gray-base;
    border-radius: 3px;
    outline:none;
}


.add-experience-btn {
    display: block;

    width: 100%;
    height: 44px;
    text-align: center;
    line-height: 44px;
    font-size: 15px;
    color: $brand-primary-dark;
    border-width: 0;
    background-color: $brand-primary;
    border-radius: 3px;
    outline:none;
}
