nav
{
    position: fixed;
    top: 0 ;

    width: 100%;
    height: 70px;
    z-index:100;
    background-color: $brand-primary;
}

.logo
{
    position: absolute;
    top: 13px;
    left: 50%;
    display:none;
    width: 36px;
    height: 36px;
    margin: 0 0 0 -20px;
    .logo-fill {
      fill: $brand-primary-dark;
    }
}

.name {
  position:absolute;
  -webkit-transform: translateX(-50%);
  left:50%;
  font-size: 30px;
  color: $brand-primary-dark;
  line-height: 68px;
  letter-spacing:-1px;
}

.menu-icon {
    position: absolute;
    top: 23px;
    right: 24px;
    overflow:hidden;
    width: 23px;
    height: 33px;
    .row {
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $brand-primary-dark;
      margin: 5px 0;
    }
}

.avatar
{
    position: absolute;
    top: 18px;
    right: 18px;
    display:none;
    overflow: hidden;

    width: 33px;
    height: 33px;

    border-radius: 50%;
    background-color: #fff;
    border-width:2px;
    border-color: $brand-primary-dark;
    border-style: solid;
}

.user-menu
{
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 100vw;

    display: block;

    width: 100%;
    height: 100vh;

    -webkit-transition: left .3s ease-in-out;

    background-color: $gray-base;
}

.close-btn
{
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 15px;

    width: 44px;
    height: 44px;
    .diag {
      position:absolute;
      top:15px;
      right:8px;
      width: 22px;
      height: 4px;
      background-color: #3E3E3E;
      display:block;
      border-radius: 2px;
      -webkit-transform: rotate(45deg);
    }
    .diag:last-child {
      position:absolute;
      top:15px;
      right:8px;
      width: 22px;
      height: 4px;
      background-color: #3E3E3E;
      display:block;
      border-radius: 2px;
      -webkit-transform: rotate(-45deg);
    }
}

.back-btn, .back-btn:active, .back-btn:hover,.back-btn:focus {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 44px;
    height: 44px;
    .arrow-container {
      position:absolute;
      top:7px;
      left: 30px;
      .arrow {
        position:absolute;
        top:15px;
        right:8px;
        width: 16px;
        height: 4px;
        background-color: $brand-primary-dark !important;
        display:block;
        border-radius: 2px;
        -webkit-transform: rotate(45deg);
      }
      .arrow:last-child {
        position:absolute;
        top:6px;
        right:8px;
        width: 16px;
        height: 4px;
        background-color: $brand-primary-dark !important;
        display:block;
        border-radius: 2px;
        -webkit-transform: rotate(-45deg);
      }
    }
}

.search-icon
{
  position: absolute;
  top: 15px;
  left: 15px;
  width: 44px;
  height: 44px;
  .magnify {
    position: absolute;
    top: 7px;
    left: 7px;
    .glass {
      width:20px;
      height: 20px;
      border-radius: 50%;
      border-width: 4px;
      border-style: solid;
      border-color: $brand-primary-dark;
      background-color:none;
    }
    .handle {
      position: absolute;
      top: 17px;
      left:15px;
      width:10px;
      height: 4px;
      border-radius: 0 2px 2px 0;
      background-color: $brand-primary-dark;
       -webkit-transform: rotate(45deg);
    }
  }
}

.search-menu
{
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 100vw;

    display: block;

    width: 100%;
    height: 100vh;

    -webkit-transition: right .3s ease-in-out;

    background-color: $gray-base;
}

.restaurant-menu-container, .chef-menu-container {
  width: 100%;
  margin: 15px 0 0 0;
  h2 {
   font-size:12px;
   text-align:center;
  }
  a {
    width:calc(100% - 30px);
    margin: 0 0 0 15px;
    color: $content-color;
    display:block;
    line-height: 55px;
    text-align:left;
    border-width: 0 0 1px 0;
    border-style:solid !important;
    border-color: #ddd;
    padding: 0 10px
  }
  a:last-child {
    border-width: 0;
    border-style:solid !important;
    border-color: #ddd;
    font-size: 14px;
    text-align:right;
  }

}


.become-chef-container {
  width: 100%;
  background-color: $gray-base;
  position:absolute;
  bottom: 0;
}

.become-chef-btn {
  display: inline-block;

  width: calc(100% - 30px);
  height: 60px;
  line-height: 58px;
  font-size: 18px;
  color: $primary-text !important;
  border-width: 0;
  background-color: $primary-action;
  margin:15px 15px 15px 0;
  border-radius: 3px;
  outline:none;
  border-width: 0 !important;
  text-align: center !important;
}

.chef-sign-in {
  font-size: 14px;
}
