nav
{
    position: fixed;
    top: 0 ;

    width: 100%;
    height: 70px;
    z-index:100;
    background-color: $brand-primary;
}

.logo
{
    position: absolute;
    top: 15px;
    left: 50%;

    width: 40px;
    height: 40px;
    margin: 0 0 0 -20px;

    border-radius: 50%;
    background-color: #000;
}

.avatar
{
    position: absolute;
    top: 20px;
    right: 20px;

    overflow: hidden;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color: #000;
    background-color: #fff;
}

.user-menu
{
    position: fixed;
    z-index: 101;
    top: 0;
    left: 100vw;

    display: block;

    width: 100%;
    height: 100vh;

    -webkit-transition: left .3s ease-in-out;

    background-color: $gray-base;
}

.close-btn
{
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 15px;

    width: 15px;
    height: 15px;

    border-radius: 50%;
    background-color: #000;
}

.back-btn, .back-btn:active {
    position: absolute;
    top: 15px;
    left: 15px;
    padding:5px;
    width: 40px;
    height: 40px;
}

.search-icon
{
    position: absolute;
    top: 15px;
    left: 15px;
    padding:5px;
    width: 40px;
    height: 40px;
}

.search-menu
{
    position: fixed;
    z-index: 101;
    top: 0;
    right: 100vw;

    display: block;

    width: 100%;
    height: 100vh;

    -webkit-transition: right .3s ease-in-out;

    background-color: $gray-base;
}

.restaurant-menu-container, .chef-menu-container {
  width: 100%;
  h2 {
   font-size:12px;
   text-align:center;
  }
  a {
    width:calc(100% - 30px);
    margin: 0 0 0 15px;
    color: $content-color;
    display:block;
    line-height: 55px;
    text-align:left;
    border-width: 0 0 1px 0;
    border-style:solid !important;
    border-color: #ddd;
    padding: 0 10px
  }
  a:last-child {
    border-width: 0;
    border-style:solid !important;
    border-color: #ddd;
    font-size: 14px;
    text-align:right;
  }

}


.become-chef-container {
  width: 100%;
  background-color: $gray-base;
  position:absolute;
  bottom: 0;
}

.become-chef-btn {
  display: inline-block;

  width: calc(100% - 30px);
  height: 60px;
  line-height: 58px;
  font-size: 18px;
  color: #606019;
  border-width: 0;
  background-color: $brand-primary;
  margin:15px 15px 15px 0;
  border-radius: 3px;
  outline:none;
  border-width: 0 !important;
  text-align: center !important;
}

.chef-sign-in {
  font-size: 14px;
}
